<script setup lang="ts">
import { ref, watch } from 'vue'
import type { PropType, Ref } from 'vue'
// props
const props = defineProps({
  formRef: {
    type: Function as PropType<(el: any) => void>
  },
  modelValue: {
    type: [Boolean, String, Number, Object] as PropType<any>,
    default: undefined
  },
  useFor: {
    type: String as PropType<'add' | 'edit'>,
    default: 'add'
  }
})

const emit = defineEmits<{
  (e: 'update:modelValue', model: any): void
}>()

const model: Ref<Record<string, any>> = ref(props.modelValue)

watch(model, (v, ov) => {
  emit('update:modelValue', v)
})
</script>

<template>
  <el-form :ref="formRef" :model="model" label-position="left" require-asterisk-position="right" label-width="100px">
    <el-row :gutter="10" type="flex">
#set($uniqueFormFields = [])
#if($createDefinition != $null)## A
#set($uniqueFormFields = $createDefinition.formFields)
#end## A
#if($updateDefinition != $null)## A
#if($createDefinition != $null)## A-1
#set($uniqueFormFields = $myTool.deduplicate($uniqueFormFields, $updateDefinition.formFields))
#else## A-1
#set($uniqueFormFields = $updateDefinition.formFields)
#end## A-1
#end## A
#foreach ($field in $uniqueFormFields)## A
#if($field.primaryKey == false)## A-1
#if($createDefinition.formFields.contains($field) || $updateDefinition.formFields.contains($field))## A-1-1
#if($createDefinition.formFields.contains($field) && $updateDefinition.formFields.contains($field))## A-1-1-1
        <el-col :span="${field.formProperties.span}">
#elseif($createDefinition.formFields.contains($field))## A-1-1-1
        <el-col v-if="props.useFor == 'add'" :span="${field.formProperties.span}">
#elseif($updateDefinition.formFields.contains($field))## A-1-1-1
        <el-col v-if="props.useFor == 'edit'" :span="${field.formProperties.span}">
#end## A-1-1-1
            <el-form-item label="$field.label" prop="${field.property}">
#set($fieldValueType=$myTool.getTsTypeForJavaType($field.javaType))
#if($fieldValueType == "boolean")## A-1-1-2
#if($field.formProperties.editable)## A-1-1-2-1
              <el-switch v-model="model.${field.property}" />
#else## A-1-1-2-1
              <el-switch v-model="model.${field.property}" :disabled="props.useFor == 'edit'" />
#end## A-1-1-2-1
#elseif($fieldValueType == "Date")## A-1-1-2
#if($field.format == "TIME")## A-1-1-2-1
#if($field.formProperties.editable)## A-1-1-2-1-1
              <el-time-picker
                v-model="model.${field.property}"
                clearable
                format="HH:mm:ss"
                value-format="HH:mm:ss.SSSZ"
                placeholder="选择${field.label}"
              />
#else## A-1-1-2-1-1
              <el-time-picker
                v-model="model.${field.property}"
                clearable
                :disabled="props.useFor == 'edit'"
                format="HH:mm:ss"
                value-format="HH:mm:ss.SSSZ"
                placeholder="选择${field.label}"
              />
#end## A-1-1-2-1-1
#elseif($field.format == "DATE")## A-1-1-2-1
#if($field.formProperties.editable)## A-1-1-2-1-1
              <el-date-picker
                v-model="model.${field.property}"
                type="date"
                clearable
                format="YYYY-MM-DD"
                value-format="YYYY-MM-DD"
                placeholder="选择${field.label}"
              >
              </el-date-picker>
#else## A-1-1-2-1-1
              <el-date-picker
                v-model="model.${field.property}"
                type="date"
                clearable
                :disabled="props.useFor == 'edit'"
                format="YYYY-MM-DD"
                value-format="YYYY-MM-DD"
                placeholder="选择${field.label}"
              >
              </el-date-picker>
#end## A-1-1-2-1-1
#else## A-1-1-2-1
#if($field.formProperties.editable)## A-1-1-2-1-1
              <el-date-picker
                v-model="model.${field.property}"
                type="datetime"
                clearable
                format="YYYY-MM-DD HH:mm:ss"
                value-format="YYYY-MM-DDTHH:mm:ss.SSSZ"
                placeholder="选择${field.label}"
              >
              </el-date-picker>
#else## A-1-1-2-1-1
              <el-date-picker
                v-model="model.${field.property}"
                type="datetime"
                clearable
                :disabled="props.useFor == 'edit'"
                format="YYYY-MM-DD HH:mm:ss"
                value-format="YYYY-MM-DDTHH:mm:ss.SSSZ"
                placeholder="选择${field.label}"
              >
              </el-date-picker>
#end## A-1-1-2-1-1
#end## A-1-1-2-1
#else## A-1-1-2
#if($field.formProperties.valueRange == "options")## A-1-1-2-1
#if($field.formProperties.editable)## A-1-1-2-1-1
              <el-select v-model="model.${field.property}" style="width: 100%" clearable placeholder="请选择${field.label}">
                <!-- <el-option label="" value=""> </el-option> -->
              </el-select>
#else## A-1-1-2-1-1
              <el-select v-model="model.${field.property}" style="width: 100%" clearable :disabled="props.useFor == 'edit'" placeholder="请选择${field.label}">
                <!-- <el-option label="" value=""> </el-option> -->
              </el-select>
#end## A-1-1-2-1-1
#elseif($fieldValueType == "number")## A-1-1-2-1
#if($field.formProperties.editable)## A-1-1-2-1-1
              <el-input v-model="model.${field.property}" :formatter="(value: string) => `${value}`.replace(/[^\d\.]/g, '')" :parser="(value: string) => `${value}`.replace(/[^\d\.]/g, '')" placeholder="请输入${field.label}"></el-input>
#else## A-1-1-2-1-1
              <el-input v-model="model.${field.property}" :formatter="(value: string) => `${value}`.replace(/[^\d\.]/g, '')" :parser="(value: string) => `${value}`.replace(/[^\d\.]/g, '')" :disabled="props.useFor == 'edit'" placeholder="请输入${field.label}"></el-input>
#end## A-1-1-2-1-1
#elseif($fieldValueType == "string")## A-1-1-2-1
#if($field.formProperties.editable)## A-1-1-2-1-1
              <el-input v-model="model.${field.property}" placeholder="请输入${field.label}"></el-input>
#else## A-1-1-2-1-1
              <el-input v-model="model.${field.property}" :disabled="props.useFor == 'edit'" placeholder="请输入${field.label}"></el-input>
#end## A-1-1-2-1-1
#end## A-1-1-2-1
#end## A-1-1-2
            </el-form-item>
        </el-col>
#end## A-1-1
#end## A-1
#end## A
    </el-row>
  </el-form>
</template>
