#set( $D = '$' )
<script setup lang="ts">
#set($functions = [])
#if($readDefinition != $null)## A
#if($functions.add(${readDefinition.api.functionName}))#end
#end## A
#if($createDefinition != $null)## A
#if($functions.add(${createDefinition.functionName}))#end
#end## A
#if($updateDefinition != $null)## A
#if($functions.add(${updateDefinition.functionName}))#end
#end## A
#if($deleteDefinition != $null)## A
#if($functions.add(${deleteDefinition.functionName}))#end
#end## A
import { YiTable, YiAction, YiModal } from "@uublue/yimi-element-plus";
import axiosInst from "@/utils/request";
#if($createDefinition != $null || $updateDefinition != $null)## A
import ${mainModel.modelName}Form from "@/$myTool.pathOf("src").relativize($myTool.relativePathOf("FRONTEND_FORM"))";
#end## A
</script>

<script lang="ts">
import ${mainModel.camelCaseModelName}Apis from '@/$myTool.pathOf("src").relativize($myTool.relativePathOf("FRONTEND_API")).trimExt()'
const { #foreach ($functionName in $functions)${functionName}#if( !$foreach.last ),#end#end } = ${mainModel.camelCaseModelName}Apis

export default {
  name: '${mainModel.modelName}View',
  apis: {
#foreach ($functionName in $functions)## A
    ${functionName}#if( !$foreach.last ),#end
#end## A
  },
}
</script>

#set( $conditionFields = $readDefinition.conditionFields )
#set( $nestedConditionFields = [] )
#foreach ($field in $conditionFields)## A
#if($field.conditionProperties.propAlias != $null)## A-1
#set( $nestedProps = ${field.conditionProperties.propAlias.split("\.")} )
#else## A-1
#set( $nestedProps = ${field.property.split("\.")} )
#end## A-1
#if($nestedProps.size() > 1 )## A-2
#if($nestedConditionFields.add($nestedProps[0]))#end
#end## A-2
#end## A
#set( $nestedConditionFields = ${myTool.deduplicate($nestedConditionFields)} )
<template>
  <div class="app-container">
    <yi-table
      :api="${readDefinition.functionName}"
#if($nestedConditionFields.size() > 0)## A
      :model="{
#foreach ($nestedConditionProp in $nestedConditionFields)## A-1
        $nestedConditionProp: {},
#end## A-1
      }"
#end## A
      :mix-model="(model, resolve) => {
        let params: Record<string, any> = { ...model }
#foreach ($nestedConditionProp in $nestedConditionFields)## A
        params.$nestedConditionProp = {...params.$nestedConditionProp}
#end## A
#foreach ($field in $conditionFields)## A
#if($field.primaryKey == false)## A-1
#set($fieldValueType=$myTool.getTsTypeForJavaType($field.javaType))
#if($field.conditionProperties.compareType == 'between' && $fieldValueType == "Date")## A-1-1
#if($field.conditionProperties.propAlias != $null)## A-1-1-1
#set( $propAlias = ${field.conditionProperties.propAlias} )
#else## A-1-1-1
#set( $propAlias = ${field.property} )
#end## A-1-1-1
        if (Array.isArray(params.$propAlias)) {
          params.${field.conditionProperties.betweenLeftProp} = params.${propAlias}[0]
          params.${field.conditionProperties.betweenRightProp} = params.${propAlias}[1]
          delete params.$propAlias
        }
#end## A-1-1
#end## A-1
#end## A

        resolve({
          params
        })
      }"
#if($readDefinition.recursiveNestedField != $null)## A
#if($readDefinition.recursiveNestedField.lazy)## A-1
      lazy
#end## A-1
      :tree-props="{
        children: '${readDefinition.recursiveNestedField.property}',
#if($readDefinition.recursiveNestedField.lazy)## A-2
        hasChildren: '${readDefinition.recursiveNestedField.property}'
#end## A-2
      }"
      parent-key="${readDefinition.recursiveNestedField.joinProperty}"
#end## A
      :columns="[
#foreach ($field in $readDefinition.resultFields)## A
#if($field.selectProperties.visible)## A-1
#if($field.selectProperties.propAlias != $null)## A-1-1
#set( $propAlias = ${field.selectProperties.propAlias} )
#else## A-1-1
#set( $propAlias = ${field.property} )
#end## A-1-1
#if($field.selectProperties.labelAlias != $null)## A-1-2
#set( $labelAlias = ${field.selectProperties.labelAlias} )
#else## A-1-2
#set( $labelAlias = ${field.label} )
#end## A-1-2
        {
          label: '$labelAlias',
          prop: '$propAlias',
        },
#end## A-1
#end## A
        {
          label: '操作',
          prop: 'opt',
          fixed: 'right',
          slot: 'opt',
        }
      ]"
    >
      <template #conditions="{ model, refresh }">
        <el-form inline :model="model" size="small">
#foreach ($field in $conditionFields)## A
#if($field.primaryKey == false && $field.conditionProperties.compareType != 'isNull' && $field.conditionProperties.compareType != 'isNotNull')## A-1
#if($field.conditionProperties.propAlias != $null)## A-1-1
#set( $propAlias = ${field.conditionProperties.propAlias} )
#else## A-1-1
#set( $propAlias = ${field.property} )
#end## A-1-1
#if($field.conditionProperties.labelAlias != $null)## A-1-2
#set( $labelAlias = ${field.conditionProperties.labelAlias} )
#else## A-1-2
#set( $labelAlias = ${field.label} )
#end## A-1-2
          <el-form-item label="$labelAlias">
#set($fieldValueType=$myTool.getTsTypeForJavaType($field.javaType))
#if($fieldValueType == "boolean")## A-1-3
            <el-select v-model="model.${propAlias}" style="width: 80px" clearable placeholder="请选择${labelAlias}">
              <el-option label="是" :value="true"> </el-option>
              <el-option label="否" :value="false"> </el-option>
            </el-select>
#elseif($fieldValueType == "Date")## A-1-3
#if($field.format == "DATE")## A-1-3-1
            <el-date-picker
              v-model="model.${propAlias}"
#if($field.conditionProperties.compareType == 'between')## A-1-3-1-1
              type="daterange"
#else## A-1-3-1-1
              type="date"
#end## A-1-3-1-1
              clearable
              format="YYYY-MM-DD"
              value-format="YYYY-MM-DD"
              placeholder="选择${labelAlias}"
            >
            </el-date-picker>
#elseif($field.format == "TIME")## A-1-3-1
            <el-time-picker
              v-model="model.${propAlias}"
#if($field.conditionProperties.compareType == 'between')## A-1-3-1-1
              is-range
#end## A-1-3-1-1
              clearable
              format="HH:mm:ss"
              value-format="HH:mm:ss.SSSZ"
              placeholder="选择${labelAlias}"
            />
#else## A-1-3-1
            <el-date-picker
              v-model="model.${propAlias}"
#if($field.conditionProperties.compareType == 'between')## A-1-3-1-1
              type="datetimerange"
#else## A-1-3-1-1
              type="datetime"
#end## A-1-3-1-1
              clearable
              format="YYYY-MM-DDTHH:mm:ss"
              value-format="YYYY-MM-DDTHH:mm:ss.SSSZ"
              placeholder="选择${labelAlias}"
            >
            </el-date-picker>
#end## A-1-3-1
#else## A-1-3
#if($fieldValueType == "number" && $field.conditionProperties.compareType == 'between')## A-1-3-1
            <el-input
              v-model="model.${field.conditionProperties.betweenLeftProp}"
              :formatter="(value: string) => `${value}`.replace(/[^\d\.]/g, '')"
              :parser="(value: string) => `${value}`.replace(/[^\d\.]/g, '')"
              clearable
            ></el-input>
            &nbsp; - &nbsp;
            <el-input
              v-model="model.${field.conditionProperties.betweenRightProp}"
              :formatter="(value: string) => `${value}`.replace(/[^\d\.]/g, '')"
              :parser="(value: string) => `${value}`.replace(/[^\d\.]/g, '')"
              clearable
            ></el-input>
#elseif($field.conditionProperties.inputType == "select")## A-1-3-1
            <el-select v-model="model.${propAlias}" style="width: 80px" clearable placeholder="请选择${labelAlias}">
              <!-- <el-option label="" value=""> </el-option> -->
            </el-select>
#elseif($fieldValueType == "number")## A-1-3-1
            <el-input
              v-model="model.${propAlias}"
              :formatter="(value: string) => `${value}`.replace(/[^\d\.]/g, '')"
              :parser="(value: string) => `${value}`.replace(/[^\d\.]/g, '')"
              clearable
              placeholder="请输入${labelAlias}"
            ></el-input>
#elseif($fieldValueType == "string")## A-1-3-1
            <el-input
              v-model="model.${propAlias}"
              clearable
              placeholder="请输入${labelAlias}"
            ></el-input>
#end## A-1-3-1
#end## A-1-3
          </el-form-item>
#end## A-1
#end## A

          <el-form-item>
            <el-button type="primary" @click="refresh()">查询</el-button>
          </el-form-item>
        </el-form>
      </template>

#if($createDefinition != $null)## A
      <template #actions="{ refresh }">
        <el-row>
          <!-- 添加 -->
          <yi-action
            :api="${createDefinition.functionName}"
            text="添加"
            type="primary"
            size="small"
            :plain="true"
            icon="el-icon-plus"
            modal-title="添加${mainModel.description}"
            dialog-width="500px"
            @on-submit-success="refresh"
          >
            <template #default="scope">
              <${mainModel.modelName}Form
                v-model="scope.model"
                :form-ref="scope.form"
                use-for="add"
              />
            </template>
          </yi-action>
        </el-row>
      </template>
#end## A

#if( $updateDefinition != $null || $deleteDefinition != $null || ($readDefinition.recursiveNestedField != $null && $createDefinition != $null) )## A
      <template #opt="{ row, refresh }">
#if($readDefinition.recursiveNestedField != $null && $createDefinition != $null && $mainModel.primaryKeyFields.size() == 1)## A-1
        <yi-action
            :api="${createDefinition.functionName}"
            text="添加"
            type="primary"
            trigger="link"
            :underline="false"
            size="default"
            :plain="true"
            icon="el-icon-plus"
            :model="{ ${readDefinition.recursiveNestedField.joinProperty}: row.${mainModel.primaryKeyField.property} }"
            modal-title="添加${mainModel.description}"
            dialog-width="500px"
            style="margin-right: 2px"
            @on-submit-success="refresh"
        >
            <template #default="scope">
              <${mainModel.modelName}Form
                v-model="scope.model"
                :form-ref="scope.form"
                use-for="add"
              />
            </template>
        </yi-action>
#end## A-1
#if($updateDefinition != $null)## A-2
        <yi-action
          :api="${updateDefinition.functionName}"
          type="primary"
          trigger="link"
          :underline="false"
          text="修改"
          size="default"
          icon="el-icon-edit"
          :model="row"
          modal-title="修改${mainModel.description}"
          dialog-width="500px"
          style="margin-right: 2px"
          @on-submit-success="
            () => {
              refresh();
            }
          "
        >
          <template #default="scope">
            <${mainModel.modelName}Form
              v-model="scope.model"
              :form-ref="scope.form"
              use-for="edit"
            />
          </template>
        </yi-action>
#end## A-2
#if($deleteDefinition != $null)## A-3
#set($idArgs = [])
#foreach ($primaryKeyField in $mainModel.primaryKeyFields)## A-3-1
#set($idArg = "row.${primaryKeyField.property}")
#if($idArgs.add(${idArg}))#end
#end## A-3-1
        <yi-action
          :api="${deleteDefinition.functionName}(#foreach($idArg in $idArgs)${idArg}#if( !$foreach.last ),#end#end)"
          type="primary"
          trigger="link"
          :underline="false"
          text="删除"
          size="default"
          icon="el-icon-delete"
          style="margin-right: 2px"
          modal-title="删除${mainModel.description}"
          confirm-text="是否删除该${mainModel.description}？"
          @on-submit-success="
            () => {
              refresh();
            }
          "
        />
#end## A-3
      </template>
#end## A
    </yi-table>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>