package ${currentClass.packageName};

import ${mainModelClass.qualifiedName};
#if(${requestModelClass.simpleName} != ${mainModelClass.simpleName})## A
#if($requestModelClass != $null)## A-1
import ${requestModelClass.qualifiedName};
#end## A-1
#if(${resultModelClass.simpleName} != ${mainModelClass.simpleName} && ${resultModelClass.simpleName} != ${requestModelClass.simpleName})## A-2
import ${resultModelClass.qualifiedName};
#end## A-2
#elseif(${resultModelClass.simpleName} != ${mainModelClass.simpleName})## A
import ${resultModelClass.qualifiedName};
#end## A
import com.baomidou.mybatisplus.extension.service.IService;
#foreach ($importType in $currentClass.dynamicImports)## A
import ${importType};
#end## A
import java.util.List;

/**
* @author $author
* @description 针对表【${mainModel.tableName}(${mainModel.description})】的数据库操作Service
* @Entity ${mainModelClass.qualifiedName}
*/
public interface ${currentClass.simpleName} extends IService<${mainModelClass.simpleName}> {

#if($readDefinition != $null)## A
#if(!$readDefinition.singleResult)## A-1
#if($requestModelClass != $null)## A-1-1
    List<${resultModelClass.simpleName}> ${readDefinition.functionName}(${requestModelClass.simpleName} #toLowerCamelCase(${requestModelClass.simpleName}));

#else## A-1-1
    List<${resultModelClass.simpleName}> ${readDefinition.functionName}(#foreach($requestParamField in $readDefinition.requestParamFields)#getJavaTypeSimpleName(${requestParamField.javaType}) $requestParamField.property#{if}( !$foreach.last ), #end#end);

#end## A-1-1
#else## A-1
    ${resultModelClass.simpleName} ${readDefinition.functionName}(${requestModelClass.simpleName} #toLowerCamelCase(${requestModelClass.simpleName}));

#end## A-1
#end## A
#if($createDefinition != $null)## A
    void ${createDefinition.functionName}(${mainModelClass.simpleName} ${mainModel.camelCaseModelName});

#end## A
#if($updateDefinition != $null)## A
    void ${updateDefinition.functionName}(${mainModelClass.simpleName} ${mainModel.camelCaseModelName});

#end## A
#if($deleteDefinition != $null)## A
    void ${deleteDefinition.functionName}(#foreach($primaryKeyField in $mainModel.primaryKeyFields)#getJavaTypeSimpleName(${primaryKeyField.javaType}) $primaryKeyField.property#if( !$foreach.last ), #end#end);

#end## A
}
