import type { RouteRecordRaw } from 'vue-router';

export const dynamicRoutes: RouteRecordRaw[] = [
  {
    path: "${mainModel.kebabCaseModelName}",
    component: () => import("@/$myTool.pathOf("src").relativize($myTool.relativePathOf("FRONTEND_VIEW")).trimExt()"),
    name: "${mainModel.modelName}View",
    meta: { title: "${mainModel.description}", icon: "" },
  },
]