<script setup lang="ts">
import { ref } from 'vue'
import type { PropType, Ref } from 'vue'
import { IonPage, IonHeader, IonToolbar, IonButtons, IonBackButton, IonTitle, IonContent } from '@ionic/vue';
import { useRoute } from 'vue-router'
import axiosInst from "@/utils/request";
#set($functions = [])
#if($createDefinition != $null)## A
#if($functions.add(${createDefinition.functionName}))#end
#end## A
#if($updateDefinition != $null)## A
#if($functions.add(${updateDefinition.functionName}))#end
#end## A
// props
const props = defineProps({
  useFor: {
    type: String as PropType<'add' | 'edit'>,
    default: 'add'
  }
})



const route = useRoute()
const model: Ref<Record<string, any>> = ref(route.query)
const popupVisibleWrapper: Ref<Record<string, boolean>> = ref({})
const datePickerValue: Ref<string[] | undefined> = ref()
const datePickerValueWrapper: Ref<Record<string, string[] | undefined>> = ref({})
</script>

<script lang="ts">
import ${mainModel.camelCaseModelName}Apis from '@/$myTool.pathOf("src").relativize($myTool.relativePathOf("FRONTEND_API")).trimExt()'
const { #foreach ($functionName in $functions)${functionName}#if( !$foreach.last ),#end#end } = ${mainModel.camelCaseModelName}Apis

export default {
  name: '${mainModel.modelName}Form',
  apis: {
#foreach ($functionName in $functions)## A
    ${functionName}#if( !$foreach.last ),#end
#end## A
  },
}
</script>

<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>${mainModel.description}Form</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <van-form style="margin-top: 10px;">
        <van-cell-group inset>
#set($uniqueFormFields = [])
#if($createDefinition != $null)## A
#set($uniqueFormFields = $createDefinition.formFields)
#end## A
#if($updateDefinition != $null)## A
#if($createDefinition != $null)## A-1
#set($uniqueFormFields = $myTool.deduplicate($uniqueFormFields, $updateDefinition.formFields))
#else## A-1
#set($uniqueFormFields = $updateDefinition.formFields)
#end## A-1
#end## A
#foreach ($field in $uniqueFormFields)## A
#if($field.primaryKey == false)## A-1
#if($createDefinition.formFields.contains($field) || $updateDefinition.formFields.contains($field))## A-1-1
#set($fieldValueType=$myTool.getTsTypeForJavaType($field.javaType))
#if($fieldValueType == "boolean")## A-1-1-1
            <van-field 
#if($createDefinition.formFields.contains($field) && $updateDefinition.formFields.contains($field))## A-1-1-1-1
#elseif($createDefinition.formFields.contains($field))## A-1-1-1-1
              v-if="props.useFor == 'add'"
#elseif($updateDefinition.formFields.contains($field))## A-1-1-1-1
              v-if="props.useFor == 'edit'"
#end## A-1-1-1-1
              label="$field.label" 
              name="${field.property}">
              <van-switch v-model="model.${field.property}" #if(!$field.formProperties.editable):disabled="props.useFor == 'edit'"#end/>
            </van-field>
#elseif($fieldValueType == "Date")## A-1-1-1
            <van-field
#if($createDefinition.formFields.contains($field) && $updateDefinition.formFields.contains($field))## A-1-1-1-1
#elseif($createDefinition.formFields.contains($field))## A-1-1-1-1
              v-if="props.useFor == 'add'"
#elseif($updateDefinition.formFields.contains($field))## A-1-1-1-1
              v-if="props.useFor == 'edit'"
#end## A-1-1-1-1
              v-model="model.${field.property}"
              is-link
              readonly
              name="${field.property}"
              label="$field.label"
#if(!$field.formProperties.editable)## A-1-1-1-2
              :disabled="props.useFor == 'edit'"
              @click="() => {
                if(props.useFor != 'edit') {
                  popupVisibleWrapper.${field.property} = true
                }
              }"
#else## A-1-1-1-2
              @click="popupVisibleWrapper.${field.property} = true"
#end## A-1-1-1-2

            />
#if($field.format == "TIME")## A-1-1-1-3
            <van-popup
#if($createDefinition.formFields.contains($field) && $updateDefinition.formFields.contains($field))## A-1-1-1-3-1
#elseif($createDefinition.formFields.contains($field))## A-1-1-1-3-1
              v-if="props.useFor == 'add'"
#elseif($updateDefinition.formFields.contains($field))## A-1-1-1-3-1
              v-if="props.useFor == 'edit'"
#end## A-1-1-1-3-1
              v-model:show="popupVisibleWrapper.${field.property}"
              destroy-on-close position="bottom">
              <van-time-picker
                :model-value="datePickerValueWrapper.${field.property}"
                :columns-type="['hour', 'minute', 'second']"
                @confirm="
                  ({ selectedValues }) => {
                    model.${field.property} = selectedValues.join(':')
                    datePickerValueWrapper.${field.property} = selectedValues
                    popupVisibleWrapper.${field.property} = false
                  }
                "
                @cancel="popupVisibleWrapper.${field.property} = false"
              />
            </van-popup>
#else## A-1-1-1-3
            <van-popup 
#if($createDefinition.formFields.contains($field) && $updateDefinition.formFields.contains($field))## A-1-1-1-3-1
#elseif($createDefinition.formFields.contains($field))## A-1-1-1-3-1
              v-if="props.useFor == 'add'"
#elseif($updateDefinition.formFields.contains($field))## A-1-1-1-3-1
              v-if="props.useFor == 'edit'"
#end## A-1-1-1-3-1
              v-model:show="popupVisibleWrapper.${field.property}" 
              destroy-on-close position="bottom">
              <van-date-picker
                :model-value="datePickerValueWrapper.${field.property}"
                @confirm="
                  ({ selectedValues }) => {
                    model.${field.property} = selectedValues.join('-')
                    datePickerValueWrapper.${field.property} = selectedValues
                    popupVisibleWrapper.${field.property} = false
                  }
                "
                @cancel="popupVisibleWrapper.${field.property} = false"
              />
            </van-popup>
#end## A-1-1-1-3
#else## A-1-1-1
#if($field.formProperties.valueRange == "options")## A-1-1-1-1
            <van-field
#if($createDefinition.formFields.contains($field) && $updateDefinition.formFields.contains($field))## A-1-1-1-1-1
#elseif($createDefinition.formFields.contains($field))## A-1-1-1-1-1
              v-if="props.useFor == 'add'"
#elseif($updateDefinition.formFields.contains($field))## A-1-1-1-1-1
              v-if="props.useFor == 'edit'"
#end## A-1-1-1-1-1
              v-model="model.${field.property}"
              is-link
              readonly
              name="${field.property}"
              label="$field.label"
#if(!$field.formProperties.editable)## A-1-1-1-1-2
              :disabled="props.useFor == 'edit'"
              @click="() => {
                if(props.useFor != 'edit') {
                  popupVisibleWrapper.${field.property} = true
                }
              }"
#else## A-1-1-1-1-2
              @click="popupVisibleWrapper.${field.property} = true"
#end## A-1-1-1-1-2
            />
            <van-popup
#if($createDefinition.formFields.contains($field) && $updateDefinition.formFields.contains($field))## A-1-1-1-1-3
#elseif($createDefinition.formFields.contains($field))## A-1-1-1-1-3
              v-if="props.useFor == 'add'"
#elseif($updateDefinition.formFields.contains($field))## A-1-1-1-1-3
              v-if="props.useFor == 'edit'"
#end## A-1-1-1-1-3
              v-model:show="popupVisibleWrapper.${field.property}"
              destroy-on-close
              position="bottom"
            >
              <van-picker
                :columns="[{ text: '~', value: '~' }]"
                :model-value="datePickerValueWrapper.${field.property}"
                @confirm="
                  ({ selectedValues }) => {
                    model.${field.property} = selectedValues
                    datePickerValueWrapper.${field.property} = selectedValues
                    popupVisibleWrapper.${field.property} = false
                  }
                "
                @cancel="popupVisibleWrapper.${field.property} = false"
              />
            </van-popup>
#elseif($fieldValueType == "number")## A-1-1-1-1
            <van-field
#if($createDefinition.formFields.contains($field) && $updateDefinition.formFields.contains($field))## A-1-1-1-1-1
#elseif($createDefinition.formFields.contains($field))## A-1-1-1-1-1
              v-if="props.useFor == 'add'"
#elseif($updateDefinition.formFields.contains($field))## A-1-1-1-1-1
              v-if="props.useFor == 'edit'"
#end## A-1-1-1-1-1
              v-model="model.${field.property}"
              type="number"
              name="${field.property}"
              label="$field.label"
#if(!$field.formProperties.editable)## A-1-1-1-1-2
            :disabled="props.useFor == 'edit'"
#end## A-1-1-1-1-2
            />
#elseif($fieldValueType == "string")## A-1-1-1-1
            <van-field
#if($createDefinition.formFields.contains($field) && $updateDefinition.formFields.contains($field))## A-1-1-1-1-1
#elseif($createDefinition.formFields.contains($field))## A-1-1-1-1-1
              v-if="props.useFor == 'add'"
#elseif($updateDefinition.formFields.contains($field))## A-1-1-1-1-1
              v-if="props.useFor == 'edit'"
#end## A-1-1-1-1-1
              v-model="model.${field.property}"
              name="${field.property}"
              label="$field.label"
#if(!$field.formProperties.editable)## A-1-1-1-1-2
              :disabled="props.useFor == 'edit'"
#end## A-1-1-1-1-2
            />
#end## A-1-1-1-1

#end## A-1-1-1

#end## A-1-1
#end## A-1
#end## A
        </van-cell-group>
        <div style="margin: 16px">
            <van-button
              round
              block
              type="primary"
              native-type="submit"
              @click="
                () => {
                  if (props.useFor == 'add') {
                    axiosInst.request(${createDefinition.functionName}(model)).then((res) => {
                      console.log('accept res data:', res.data);
                    });
                  } else if (props.useFor == 'edit') {
                    axiosInst.request(${updateDefinition.functionName}(model)).then((res) => {
                      console.log('accept res data:', res.data);
                    });
                  }
                }
              "
            >
              提交
            </van-button>
        </div>
      </van-form>
    </ion-content>
  </ion-page>
</template>
