import {default as Layout, Welcome } from '@/layout'
const DirectNest = () => import("@/components/DirectNest/index.vue")
import type { RouteRecordRaw } from 'vue-router';

export const dynamicRoutes: RouteRecordRaw[] = [
  {
    path: "${mainModel.kebabCaseModelName}",
    component: () => import("@/$myTool.pathOf("src").relativize($myTool.relativePathOf("FRONTEND_VIEW"))"),
    name: "${mainModel.modelName}View",
    meta: { title: "${mainModel.description}", icon: "" },
  },
]