<config>
    <templates location="backend">
        <template>
            <id>SPRING_MODEL</id>
            <sourcePath>spring/src/main/java/__base_package__/model/__modelName__.java.vm</sourcePath>
            <targetPath>src/main/java/__base_package__/model/__modelName__.java</targetPath>
        </template>
        <template>
            <id>SPRING_ENTITY</id>
            <sourcePath>spring/src/main/java/__base_package__/entity/__modelName__Entity.java.vm</sourcePath>
            <targetPath>src/main/java/__base_package__/entity/__modelName__Entity.java</targetPath>
        </template>
        <template>
            <id>SPRING_RESULT_MODEL</id>
            <sourcePath>spring/src/main/java/__base_package__/model/__modelName__Result.java.vm</sourcePath>
            <targetPath>src/main/java/__base_package__/model/__modelName__Result.java</targetPath>
        </template>
        <template>
            <id>SPRING_REQUEST_MODEL</id>
            <sourcePath>spring/src/main/java/__base_package__/model/__modelName__Query.java.vm</sourcePath>
            <targetPath>src/main/java/__base_package__/model/__modelName__Query.java</targetPath>
        </template>
        <template>
            <id>SPRING_MAPPER</id>
            <sourcePath>spring/src/main/java/__base_package__/mapper/__modelName__Mapper.java.vm</sourcePath>
            <targetPath>src/main/java/__base_package__/mapper/__modelName__Mapper.java</targetPath>
        </template>
        <template>
            <id>SPRING_MAPPER_XML</id>
            <sourcePath>spring/src/main/resources/mybatis/__module__/mapper/__modelName__Mapper.xml.vm</sourcePath>
            <targetPath>src/main/resources/mybatis/__module__/mapper/__modelName__Mapper.xml</targetPath>
        </template>
        <template>
            <id>SPRING_SERVICE</id>
            <sourcePath>spring/src/main/java/__base_package__/service/__modelName__Service.java.vm</sourcePath>
            <targetPath>src/main/java/__base_package__/service/__modelName__Service.java</targetPath>
        </template>
        <template>
            <id>SPRING_SERVICE_IMPL</id>
            <sourcePath>spring/src/main/java/__base_package__/service/impl/__modelName__ServiceImpl.java.vm</sourcePath>
            <targetPath>src/main/java/__base_package__/service/impl/__modelName__ServiceImpl.java</targetPath>
        </template>
        <template>
            <id>SPRING_CONTROLLER</id>
            <sourcePath>spring/src/main/java/__base_package__/controller/__modelName__Controller.java.vm</sourcePath>
            <targetPath>src/main/java/__base_package__/controller/__modelName__Controller.java</targetPath>
        </template>

    </templates>



    <templates location="frontend">
        <profile id="admin" label="后台管理页面" device="desktop">
            <template>
                <id>FRONTEND_API</id>
                <sourcePath>front_end/admin/src/apis/__module__/__kebabCaseModelName__.ts.vm</sourcePath>
                <targetPath>src/apis/__module__/__kebabCaseModelName__.ts</targetPath>
            </template>
            <template>
                <id>FRONTEND_VIEW</id>
                <condition>enableRead</condition>
                <sourcePath>front_end/admin/src/views/__module__/__kebabCaseModelName__/index.vue.vm</sourcePath>
                <targetPath>src/views/__module__/__kebabCaseModelName__/index.vue</targetPath>
            </template>
            <template>
                <id>FRONTEND_ROUTER</id>
                <condition>enableRead</condition>
                <sourcePath>front_end/admin/src/router/index.ts.vm</sourcePath>
                <targetPath>src/router/index.ts</targetPath>
            </template>
            <template>
                <id>FRONTEND_SNIPPETS</id>
                <condition>!enableRead</condition>
                <sourcePath>front_end/admin/src/views/__module__/__kebabCaseModelName__/snippets.vue.vm</sourcePath>
                <targetPath>src/views/__module__/__kebabCaseModelName__/snippets.vue</targetPath>
            </template>
        </profile>

    </templates>



</config>