package ${currentClass.packageName};

import com.baomidou.mybatisplus.annotation.*;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import org.springframework.format.annotation.DateTimeFormat;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import javax.validation.constraints.NotNull;
#if($currentModel.primaryKeyFields.size() > 1)## A
import java.io.Serializable;
#end## A
#foreach ($importType in $currentClass.dynamicImports)## A
import ${importType};
#end## A
import lombok.Data;

@Data
@ApiModel(description = "${currentModel.description}")
#if($currentModel.exist)## A
@TableName("${currentModel.tableName}")
#end## A
public class ${currentClass.simpleName} extends Model<${currentClass.simpleName}> {

#foreach ($field in ${currentClass.fields})## A
    @ApiModelProperty("$field.label")
#if($field.primaryKey && $currentModel.primaryKeyFields.size() == 1)## A-1
#if($field.autoIncrement)## A-1-1
    @TableId(type = IdType.AUTO)
#else## A-1-1
    @TableId(type = IdType.ASSIGN_ID)
#end## A-1-1
#end## A-1
#if($field.nullable == false)## A-2
    @NotNull(message = "$field.label不能为空")
#end## A-2
#if($currentModel.exist && !$field.exist)## A-3
    @TableField(exist = false)
#end## A-3
#if($field.javaType == 'long' || $field.javaType == 'java.lang.Long')## A-4
    @JsonSerialize(using = ToStringSerializer.class)
#end## A-4
#if(${field.jdbcType} == 'DATE' || ${field.jdbcType} == 'TIMESTAMP' || ${field.jdbcType} == 'TIME')## A-5
#if($field.format == "DATE")## A-5-1
    @DateTimeFormat(iso = DateTimeFormat.ISO.DATE)
#elseif($field.format == "TIME")## A-5-1
    @DateTimeFormat(iso = DateTimeFormat.ISO.TIME)
#else## A-5-1
    @DateTimeFormat(iso = DateTimeFormat.ISO.DATE_TIME)
#end## A-5-1
#end## A-5
    private #getJavaTypeSimpleName($field.javaType) $field.property;

#end## A

}
